@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

body{
    background: linear-gradient(#00b2aa, #ecdeed);
}

h1{
    text-align: center;

    font-family: "Bebas Neue";
}

h4{
    text-align: center;

    font-family: "Exo 2";
}

p{
    text-align: center;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: none;
    border-radius: 10%;

    background: linear-gradient(#183971,#1d6f91,#26abb2);

    cursor: pointer; 

    color: #fff;
}

button:hover{

    transition: .5s ease-in-out;
    
    color: #ff8686 ;
    background: linear-gradient(#762638, #9a3646, #d4535d); 
}

img{
    height: 300px;
    width: 300px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10%;
}