.conteudo-principal {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#7E5C37, #523B21) ;
}

#calculadora {
    width: 450px;
    height: 650px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;  
}



.resultado {
    width: 450px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    

}

.btn {
    border: none;
    border-radius: 22px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
    margin: 30px;
}

.btn-par{
    background: linear-gradient(#f9f9fa, #AF9FEA);
    color: black;
}

.btn-impar {
    background: linear-gradient(#f9f9fa, #AF9FEA);
    color: black;
}

.btn-calculo {
    background: linear-gradient( rgb(233, 152, 1), #fd9617);
    color: black;
    font-size: 25px;
}