@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


body{
    background-image: url("../img/pagina1/background.gif");
    background-size: cover;
}


h1{
    color: #0894ff;
    text-align:center;
 
    font-family: "Jersey 15", sans-serif;
    font-size: 70px;
}


h2{
    color: #0ffff8;
    
    text-align: center;
}

p{
    width: 550px;
    height: 190px;
    
    font-family: "Teko", sans-serif;
    font-size: 22px;
    color: #009dff;

    margin-left: auto;
    margin-right: auto;
} 

button{
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(#e2762f,#ec865e,#e9782c, #f3a135, #f08344);

    transition:  background .5s ease-in-out;

    
    
}

button:hover {
    background: linear-gradient(#762638, #9a3646, #d4535d) ;

    transition: background .5s ease-in-out;
}

button a {
    color: #05f18b;
    text-decoration: none;
}

button a:hover {
    color: #ff8686 ;
}

